services:

  vpn:
    image: ghcr.io/linuxserver/wireguard
    container_name: vpn
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
    volumes:
      - ./vpn/wg0.conf:/config/wg0.conf:ro

  browser:
    container_name: browser
    image: ghcr.io/mtzanidakis/vpnbrowser
    network_mode: service:vpn
    environment:
      - XDG_RUNTIME_DIR=/tmp
      - WAYLAND_DISPLAY=${WAYLAND_DISPLAY}
      - PULSE_SERVER=unix:/tmp/pulseaudio.socket
      - PULSE_COOKIE=/tmp/pulseaudio.cookie
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - $XDG_RUNTIME_DIR/$WAYLAND_DISPLAY:/tmp/$WAYLAND_DISPLAY
      - /tmp/pulseaudio.socket:/tmp/pulseaudio.socket
      - ./shared:/shared
